<?xml version="1.0" encoding="UTF-8" ?>
<mapper namespace="test.dao.UserMapper">

	<select id="getUser" resultType="test.bean.User">
		select * from user where id = #{id}
	</select>
	
	<select id="getAll" resultType="test.bean.User">
		select * from user
	</select>

	<select id="getUserByMap" resultType="test.bean.User">
		select * from user where name=#{name} and id=#{id} and ${condition}
	</select>

	<insert id="addUser">
		insert into user(id,name) values (#{id},#{name})
	</insert>

	<update id="updateUser">
		update user set name = '张三5' where id = #{id}
	</update>
	
</mapper>